<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1>
    <ul class="todoItems"> <!--I think this class doesn't do anything and is just there in case we need it later -->
    <% for(let i=0; i < items.length; i++) {%> <!--Loop through the to do list items (which is an array) based on the array length from the db-->
        <li class="item">
            <% if(items[i].completed === true) {%> <!-- if the item in the db's completed property is true -->
                <span class='completed'><%= items[i].thing %></span> <!--then put it in the DOM and if it a class of completed (grey color/strikethrough)-->
            <% }else{ %>
                <span><%= items[i].thing %></span> <!-- otherwise just put it in the DOM as is-->
            <% } %>    
            <span class='fa fa-trash'></span> <!-- put a trash can icon at the end-->
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2> <!-- left is a property that comes from the server side js get request. It counts the # of items in the database where the completed property is false-->

    <h2>Add A Todo:</h2>

    <form action="/addTodo" method="POST"> <!-- this form submission will be heard by the API code on the server that hears post requests that has the addToDo route-->
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script> <!-- link to your client side js, just like I would in an html file-->
</body>
</html>
